@using SpaceTraders.Core
@using SpaceTraders.Api.Markets
@inject MarketApiService MarketApiService;

@if (SystemSymbol is not null)
{
    <MudDataGrid T="TradeGood" Items="@MarketExchanges" SortMode="SortMode.Multiple" Filterable="true"
                 Style="margin-bottom: 20px">
        <ToolBarContent>
            <MudText Typo="Typo.h6">Market</MudText>
            <MudSpacer/>
        </ToolBarContent>
        <Columns>
            <PropertyColumn T="TradeGood" TProperty="string" Property="exchange => exchange.Name"/>
            <PropertyColumn T="TradeGood" TProperty="string" Property="exchange => exchange.Description"/>
        </Columns>
    </MudDataGrid>
}
else
{
    <div>Empty waypoint was received</div>
}

@code {
    [Parameter]
    public string? SystemSymbol { get; set; }
    
    private Location Waypoint { get; set; }
    private Market? MarketDetails { get; set; }
    private IEnumerable<TradeGood>? MarketExchanges { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (SystemSymbol is not null)
        {
            this.Waypoint = Core.Location.CreateFromWaypoint(SystemSymbol);
            MarketDetails = await MarketApiService.GetMarketInfo(this.Waypoint);
            this.MarketExchanges = MarketDetails.Exchanges;
        }
    }

}