@page "/contracts"
@inject ContractApiService ContractApiService

<h3>Contracts</h3>

@if (_contracts is not null)
{
    <MudGrid Spacing="10" Justify="Justify.Center">
        <MudItem xs="3">
            <MudPaper>
                @foreach (var contract in _contracts)
                {
                    <ContractCard Contract="contract"></ContractCard>
                }
            </MudPaper>
        </MudItem>
    </MudGrid>
}
else
{
    <div>
        Loading...
    </div>
}

@code {
    private IEnumerable<Contract>? _contracts { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await UpdateContracts();
    }

    private async Task AcceptContract(string contractId)
    {
        _ = await ContractApiService.AcceptContract(contractId);
        await UpdateContracts();
    }

    private async Task UpdateContracts()
    {
        _contracts = await ContractApiService.GetContracts();
    }
}